body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  background: #f8f8fb;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#root,
body {
  height: 100%;
  color: #a6acbe;
}

.card {
  background: #ffffff;
  border-radius: 10px;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  a {
    color: #6c757d;
  }
}

.card-title {
  height: 75px;
  border-bottom: 1px solid #eef0f7;
  line-height: 75px;
  padding: 5px;
}

.tag-list-clr {
  color: #a6acbe;
}

.spinner {
  display: inline-block;
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pull-right {
  float: right;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #6f52ed;
  border-color: #6f52ed;
}

.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: #6f52ed;
  border-color: #6f52ed;
}

.btn-primary:focus {
  box-shadow: unset;
}

.btn-outline-primary,
.btn-outline-primary:hover {
  color: #6f52ed;
  border-color: #6f52ed;
  background-color: transparent;
}

.fs-2 {
  font-size: 2em;
}

.border-right {
  border-right: 1px solid #EFF4F6;
}
